<!-- I-FRAME template served w/in embed.hbs --> 
<div style="position: relative;">
   <div id="cyclopse-overlay" class="embedlam-overlay">
      <div class="embedlam-spinner">
         <div id="loader-div" class="embedlam-loader"></div>
      </div>
   </div>
   <div id="cyclopse-youtube-player" class="player"></div>
</div>


