<!-- I-FRAME template served w/in embed.hbs --> 
<div style="position: relative;">
   <div id="cyclopse-overlay" class="embedlam-overlay">
      <div class="embedlam-spinner">
         <div id="loader-div" class="embedlam-loader"></div>
      </div>
   </div>
   <div id="playbutton-overlay" class="playbutton-overlay">
      <div class="playbutton">
         <span class="fa fa-play-circle-o fa-4x"></span>
      </div>
   </div>
   <div id="cyclopse-youtube-player" class="player"></div>
</div>


