
<div class="content"> 
   <div class="toolbar">
      <a href="http://cyclop.se">
         <span class="embeditor-icon">
            <i class="material-icons md-64 icon-align-middle">album</i>
         </span>
         <span class="titlebar-title">
              <div class="titlebar-cyclopse"> cyclop.se </div>
              <div class="titlebar-beta"> beta </div>
         </span>
      </a>
   </div>
   <div class="center">
      <div class="video-wrapper">
         <div id="cyclopse-overlay" class="embedlam-overlay">
            <div class="embedlam-spinner">
               <div class="embedlam-loader"></div>
            </div>
         </div>
         <div id="cyclopse-youtube-player"></div>
      </div>
   </div>
   <div class="toolbar footer">
      <div class="footer-title">
         <span class="titlebar-powered"> powered by </span>
         <span class="fa fa-youtube youtube-icon md-48"></span>
      </div>
   </div>
</div> 