<html lang="en">
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width"/> 
     <meta name="description" content="Cyclop.se Editor Help"/>
     <link rel="stylesheet" href="../css/iframe.css" />
  </head>
  <body> 
    <!-- I-FRAME template served w/in embed.hbs --> 
   <section id="cyclopse-overlay" class="help-overlay">
      <div class="embedlam-spinner">
         <div id="loader-div" class="embedlam-loader"></div>
      </div>
   </section>
  </body>
</html>