<!-- Embed Code Dialog Template -->
<!-- <script type="text/ng-template" id="embedcode.html"> -->
<md-dialog flex="40">
   <!-- Toolbar -->
   <md-toolbar layout="row" layout-align="start center">
      <div class="md-toolbar-tools">
         <!-- Icon -->
         <md-button aria-label="embeditor-icon" class="md-warn" aria-label="icon"> 
            <ng-md-icon icon="album" size="48"></ng-md-icon>
         </md-button>
         <!-- Instructions -->
         <div class="embed-instructions" flex="70">
            <span class="embed-title"> Embed </span>
            <br>
            <span> Paste the code below whereever you may.
            </span> 
         </div>
         <span flex></span>
         <!-- Close button -->
         <md-button ng-click="close()" aria-label="close">
            <ng-md-icon icon="clear"></ng-md-icon>
         </md-button>
     </div>
   </md-toolbar>

   <!-- Formatting Radio Buttons -->
   <md-radio-group class="embed-radio-group" ng-model="format">
      <!-- Iframe -->
      <md-radio-button class="embed-radio-btn" value="iframe" ng-disabled="false" aria-label="iframe"> 
         IFrame 
      </md-radio-button>
      <!-- Raw HTML/JS -->
      <md-radio-button class="embed-radio-btn" value="script" aria-label="html"> 
         HTML & JS 
      </md-radio-button>
      <!-- Embedly -->
      <md-radio-button class="embed-radio-btn" value="embedly" ng-disabled="true" aria-label="embedly"> 
         Embedly
      </md-radio-button>
   </md-radio-group>

   <!-- Code Window -->
   <md-dialog-content class="embed-dialog-content"
      layout="row" layout-align="center" layout-fill> 
      <md-content flex class="embed-code-text"> 
         <span ng-class="{'embed-code-highlight': highlight}">
          {{code}} 
         </span>
      </md-content>      
   </md-dialog-content>

   <!-- Copy Button --> 
   <div class="embed-copy-btn-row" layout="row" layout-align="center center" layout-fill>
      <md-button id="code-copy-button" embeditor-copy-code-button aria-label="copy"
       class="code-btn md-whiteframe-z1"> 
         {{copyButtonMessage}} 
      </md-button>
   </div>
   
   <!-- Footer -->
   <md-toolbar layout="row" layout-align="start center">
      <div class="md-toolbar-tools md-warn">

         <div class="embed-instructions" flex="80">
            <!-- Message -->
            <span class="embed-title"> Need help embedding?</span>
            <br>
            <span> Check out the </span> 
            <!-- Help link -->
            <span class="embed-help-link" ng-click="help()"> help tab </span> 
         </div>
         <span flex></span>
     </div>
   </md-toolbar>
</md-dialog>
<!-- </script> -->