
<!-- Footer Desktop -->
<md-toolbar class="md-medium-tall footer-toolbar"  layout="row" layout-align="end center" hide-sm >
  <div class="md-toolbar-tools" layout="row" >
    <span flex></span>
    <span class="footer-powered"> powered by </span>
    <span class="fa fa-youtube footer-youtube-icon"></span>
  </div>
</md-toolbar>

<!-- Footer Mobile -->
<md-toolbar layout="row" layout-align="end center" hide-gt-sm class="footer-toolbar">
  <div class="md-toolbar-tools" layout="row" >
    <span flex></span>
    <span class="footer-powered"> powered by </span>
    <span class="fa fa-youtube footer-youtube-icon"></span>
  </div>
</md-toolbar>