<div 
  ng-controller="PlayerCtrl as player"
  class="player-background" 
  layout="column" 
  layout-fill
  layout-align="{{player.alignWithSidenav('column')}}">

  <!-- Play Button & Range Finder Row -->
  <div class="controls-background controls-top" 
      layout="row" 
      layout-align="space between" 
      style="width: 854px;"> 
      <span layout="column" flex="15">
        <span layout="row" layout-align="center">
          <md-button id="play-btn" aria-label="seek" 
              ng-click="player.API.togglePlay()" 
              class="md-fab md-accent play-button"
              md-no-ink>
            <ng-md-icon id="play-icon" icon="play_arrow" size="40" style="fill:white"
                ng-show="player.API.state === 'paused'">
            </ng-md-icon>
            <ng-md-icon id="pause-icon" icon="pause" size="40" style="fill:white"
                ng-show="player.API.state === 'playing'">
            </ng-md-icon>
          </md-button> 
        </span>
      </span> 
      <span layout="column" flex="75">
        <span layout="row" layout-align="center">
          <embeditor-rangefinder layout-fill></embeditor-rangefinder>
        </span>
      </span>
  </div>
  
  <!-- Proximity Warning for Start/Endpoint button row --> 
  <div class="controls-background precision-btn-row" 
       layout="row" 
       layout-fill 
       layout-align="end center"
       style="width: 854px;"> 
       <span class="warning-text" 
             ng-class="{'visible': player.API.minLengthWarning}"> 
             * Minimum clip length is 1 second 
       </span>
       <span flex="5"></span>
  </div> 
  <!-- Startpoint & Endpoint Seek Row -->
  <div class="controls-background" 
       layout="row"
       layout-align="space-around" 
       style="width: 854px;"> 
    <!-- STARTPOINTS -->  
    <span layout="row">              
       <!-- 5 sec rewind -->
        <span layout="column" layout-align="center center" >
          <md-button id="start-back-5sec-btn" aria-label="seek"
              ng-click="player.API.start(-5)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="fast_rewind" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-left"> 5s </span>
        </span>
         <!-- 1 sec rewind -->
        <span layout="column" layout-align="center center"> 
          <md-button id="start-back-1sec-btn" aria-label="seek"
              ng-click="player.API.start(-1)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="arrow_back" size="36"></ng-md-icon>
          </md-button> 
          <span class="control-btn-txt-left"> 1s </span>  
        </span>
         <!-- Frame rewind -->
        <span layout="column" layout-align="center center"> 
          <md-button id="start-back-frame-btn" aria-label="seek"
              ng-click="player.API.start(-(player.API.frameLength))"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="chevron_left" size="36">
            </ng-md-icon>
          </md-button>
          <span class="control-btn-txt-ctr"> frame </span>
        </span>
        <!-- Startpoint display -->
        <span layout="column" layout-align="center center" > 
          <md-button aria-label="seek"
              id="startpoint-display-btn"
              ng-click="player.API.replayStart()"
              class="md-raised startpoint-btn"
              md-no-ink>
            <span> {{player.API.startpoint.display}}
            
          </md-button>
          <span class="control-btn-txt-ctr startpoint-txt"> Startpoint </span>
          <md-tooltip md-delay="1000" md-direction="top"> Replay from startpoint </md-tooltip>
          
        </span>
        
        <!-- Frame forward -->
        <span layout="column" layout-align="center center"> 
          <md-button id="start-fwd-frame-btn" aria-label="seek"
              ng-click="player.API.start(player.API.frameLength)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="chevron_right" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-ctr"> frame </span>
        </span>
        <!-- 1 sec forward -->
        <span layout="column" layout-align="center center"> 
          <md-button id="start-fwd-1sec-btn" aria-label="seek"
              ng-click="player.API.start(1)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="arrow_forward" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-right"> 1s </span>
        </span>
         <!-- 5 sec forward -->
        <span layout="column" layout-align="center center"> 
          <md-button id="start-fwd-5sec-btn" aria-label="seek"
              class="md-raised"
              md-no-ink
              ng-click="player.API.start(5)">
            <ng-md-icon icon="fast_forward" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-right"> 5s </span>
        </span>
    </span> 

    <!-- ENDPOINTS -->
    <span layout="row">  
        <!-- 5 sec rewind -->
        <span layout="column" layout-align="center center" >
          <md-button id="end-back-5sec-btn" aria-label="seek"
              ng-click="player.API.end(-5)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="fast_rewind" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-left"> 5s </span>
        </span>
         <!-- 1 sec rewind -->
        <span layout="column" layout-align="center center"> 
          <md-button id="end-back-1sec-btn" aria-label="seek"
              ng-click="player.API.end(-1)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="arrow_back" size="36"></ng-md-icon>
          </md-button> 
          <span class="control-btn-txt-left"> 1s </span>  
        </span>
         <!-- Frame rewind -->
        <span layout="column" layout-align="center center"> 
          <md-button id="end-back-frame-btn" aria-label="seek"
              ng-click="player.API.end(-(player.API.frameLength))"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="chevron_left" size="36">
            </ng-md-icon>
          </md-button>
          <span class="control-btn-txt-ctr"> frame </span>
        </span>

        <!--Endpoint display ng-disabled="true"-->
        <span layout="column" layout-align="center center"> 
          <md-button aria-label="seek"
              id="endpoint-display-btn"
              ng-click="player.API.replayEnd()"
              class="md-raised startpoint-btn"
              md-no-ink>
            <span> {{player.API.endpoint.display}}
          </md-button>
          <span class="control-btn-txt-ctr startpoint-txt"> Endpoint </span>
          <md-tooltip md-delay="1000" md-direction="top"> Replay near endpoint </md-tooltip>
        </span>

        <!-- Frame forward -->
        <span layout="column" layout-align="center center"> 
          <md-button id="end-fwd-frame-btn" aria-label="seek"
              ng-click="player.API.end(player.API.frameLength)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="chevron_right" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-ctr"> frame </span>
        </span>
        <!-- 1 sec forward -->
        <span layout="column" layout-align="center center"> 
          <md-button id="end-fwd-1sec-btn" aria-label="seek"
              ng-click="player.API.end(1)"
              class="md-raised"
              md-no-ink>
            <ng-md-icon icon="arrow_forward" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-right"> 1s </span>
        </span>
         <!-- 5 sec forward -->
        <span layout="column" layout-align="center center"> 
          <md-button id="end-fwd-5sec-btn" aria-label="seek"
              class="md-raised"
              md-no-ink
              ng-click="player.API.end(5)">
            <ng-md-icon icon="fast_forward" size="36"></ng-md-icon>
          </md-button>
          <span class="control-btn-txt-right"> 5s </span>
        </span>
    </span>
  </div>
  <div layout="row" class="controls-background" style="width: 854px">
    <span flex="5"></span>
    <span flex="40" class="set-btn-block-label"> Set Startpoint </span>
    <span flex="10"></span>
    <span flex="40" class="set-btn-block-label"> Set Endpoint </span>
    <span flex></span>
  </div>
  <!-- Slider/Loop/Embed Button Row -->
  <div layout="row" flex class="controls-background" style="width: 854px;"> 
    <span flex="5"></span>
    <!-- Playback Slider -->
    <md-input-container class="playback-input-container" flex="50">
      <label class="close-label"> Playback Rate </label> 
      <md-slider flex 
        id="playback-speed-slider"
        class="md-warn playback-slider" 
        md-discrete 
        ng-disabled="!player.API.speeds"
        ng-model="player.API.currentRate" 
        step=".50" min=".50" max="1.5" 
        aria-label="playback">
      </md-slider>
    </md-input-container>
    <!-- Loop Switch -->
    <md-input-container flex="10" class="playback-input-container">
      <label class="close-label center-label"> Loop </label>
      <md-switch flex 
        id="loop-switch"
        ng-model="player.API.loop" 
        class="md-warn playback-slider"
        aria-label="loop">
      </md-switch>  
    </md-input-container>  
    <!-- Verbose Help Switch -->
     <md-input-container flex="10" class="playback-input-container">
      <label class="close-label center-label"> Help </label>
      <md-switch flex 
        id="help-switch"
        ng-disabled="true"
        class="md-warn playback-slider"
        aria-label="loop">
      </md-switch>  
    </md-input-container>  
    <span flex="5"></span>
    <md-input-container flex="15" class="playback-input-container">
      <label class="close-label"> Embed </label>
      <md-button flex
        id="embed-dialog-btn"
        ng-click='player.dialog.openEmbedCodeDialog($event)'
        class="code-btn"
        aria-label="dialog">
        <span class="fa fa-code fa-lg code-icon"></span> 
        <span class="code-text"> Code </span>
      </md-button>  
    </md-input-container>  
  </div>

  
</div>