<!-- Preview Dialog Template: Phone app only -->
<md-dialog flex class="embed-preview-dialog">
   <!-- Toolbar -->
   <md-toolbar layout="row" layout-align="start center">
      <div class="md-toolbar-tools">
         <!-- Icon -->
         <md-button aria-label="embeditor-icon" class="md-warn" aria-label="icon"> 
            <ng-md-icon icon="album" size="40"></ng-md-icon>
         </md-button>
         <!-- Instructions -->
         <div class="embed-instructions" flex="70">
            <span class="embed-title"> Embed Preview </span>
         </div>
         <span flex></span>
         <!-- Close button -->
         <md-button id="code-dialog-dismiss-btn" click="mdDialog.hide()" aria-label="close">
            <ng-md-icon icon="clear"></ng-md-icon>
         </md-button>
     </div>
   </md-toolbar>

   <div layout="column" layout-fill>
      <!-- Content Column -->
      <div layout="column" layout-fill>
         <!-- Window -->
         <md-dialog-content 
             class="embed-preview-content"
             layout="row" 
             layout-align="center center"> 
               <!-- Link Button -->
               <iframe src="{{embedlink}}" width="100%" height="100%" ng-show="ready"> </iframe>
               <!-- Loading Spinner -->
               <md-progress-circular 
                     md-mode="indeterminate" 
                     class="md-warn embed-code-spinner" 
                     ng-show="!ready">
               </md-progress-circular>
         </md-dialog-content>    
      </div>
   </div>
</md-dialog>
