<form layout="row" flex> 
    <md-autocomplete flex 
        placeholder="Search YouTube" 
        md-selected-item="selectedItem" 
        md-search-text="searchText" 
        md-search-text-change="ctrl.textChange()" 
        md-selected-item-change="ctrl.submit(selectedItem.value)" 
        md-items="item in ctrl.getSuggestions(searchText)" 
        md-item-text="item.value"> 
        <span md-highlight-text="searchText" ng-bind="item.value"></span> 
    </md-autocomplete> 
    <md-button id="spyglass" aria-label="search" class="md-raised" ng-click="ctrl.submit(searchText)"> 
      <md-icon md-font-icon="fa fa-search"></md-icon> 
    </md-button> 
</form>