
<form layout="row" flex>
    <md-button id="spyglass" 
        aria-label="search"
        class="precision-button-inner spyglass-margin" 
        click="ctrl.submit(searchText)"> 
      <md-icon md-font-icon="fa fa-search fa-lg" class="spyglass"></md-icon> 
    </md-button>
    <md-autocomplete class="searchbox" flex 
        placeholder="SEARCH"
        md-selected-item="selectedItem" 
        md-search-text="searchText" 
        md-search-text-change="ctrl.textChange()" 
        md-selected-item-change="ctrl.submit(selectedItem.value)" 
        md-items="item in ctrl.getSuggestions(searchText)"
        md-item-text="item.value"> 
        <span md-highlight-text="searchText" ng-bind="item.value"></span> 
    </md-autocomplete>
</form>

<!--  placeholder="Search YouTube, md-floating-label="Search YouTube""  -->