<!-- ********************************* -->
<!-- Sidebar: Toolbar & Search Results -->
<!-- ********************************* -->
<div ng-controller="SearchSidebarCtrl as search" layout="vertical">
  <md-sidenav class="md-sidenav-left" md-component-id="search">   
    <!-- Toolbar -->
    <md-toolbar class="md-medium-tall" md-scroll-shrink layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <md-grid-list flex md-cols="3" md-row-height="32px">
        <!-- Search Query Input -->
          <md-grid-tile md-colspan="3">
            <embd-search-form flex></embd-search-form>
          </md-grid-tile>
          <!-- Sort Order Select -->
          <md-grid-tile> <span class="twelve-point-bold">
              <md-select class="md-accent" placeholder="Order By"
                ng-model="order" ng-change="search.youTube.setSearchOrder(order)">
                <md-option ng-value="'relevance'"><h6>Relevance</h6></md-option>
                <md-option ng-value="'date'"><h6>Date</h6></md-option>
              </md-select></span>
          </md-grid-tile>
          <!-- Duration Filter Select -->
          <md-grid-tile> <span class="twelve-point-bold">
            <md-select class="md-accent" placeholder="Filters"
              ng-model="filter" ng-change="search.youTube.setDurationFilter(filter)">
              <md-option ng-value="'any'"><h6>Any length</h6></md-option>
              <md-option ng-value="'short'"><h6>Short (> 4)</h6></md-option>
              <md-option ng-value="'long'"><h6>Long (> 20m)</h6></md-option>
            </md-select></span>
          </md-grid-tile>
          <!-- History Menu Select -->
          <md-grid-tile> <span class="twelve-point-bold">
            <md-select md-simple-menu="true" class="md-accent" ng-model="historyItem"
                ng-change="console.log('change heard')">
              <md-select-label>History</md-select-label>
              <md-option ng-attr-disabled="true" sidebar-select-option ng-repeat="previous in search.youTube.history"
                  ng-value="previous"><h6>{{previous.item}}</h6>
              </md-option>
            </md-dropdown></span>
          </md-grid-tile>
      </div>
    </md-toolbar>
    <!-- End toolbar -->
    <!-- Sidebar Body -->
    <!-- Loading and Fail Messages: Sidebar body -->
     <div class="sidebar-background" layout="column" layout-fill layout-align="center center"  
          ng-show="!search.youTube.results.length"> 
      <div layout="column" layout-fill layout-align="center center" 
          ng-show="search.youTube.failed"> 
         <h1 class="noResultsMsg"> Nothing there. <br> <h3> Sorry. </h3> </h1>
      </div>
      <md-progress-circular md-mode="indeterminate" class="md-warn" 
         ng-show="search.youTube.firstPageLoading">
      </md-progress-circular>
    </div> 
    <!-- Search Results --> 
    <md-grid-list class="sidebar-background" md-cols="2" md-row-height="175px"> 
      <!-- Item Tiles -->
      <md-grid-tile class="searchItemContainer"
          ng-repeat="video in search.youTube.results" >    
        <div class="searchItems">
         <!-- Duration & Published-At: -->
         <span class="searchItemDuration" ng-bind="video.duration"></span>
         <span class="searchItemPublishedAt" ng-bind="video.publishedAt"></span>
         <!-- Thumbnail & Play button & Related button -->
         <div ng-init="hover=false" ng-mouseenter="hover=true" ng-mouseleave='hover=false'>
           <span class="fa fa-play-circle fa-3x searchPlayIcon" ng-show="hover"></span>
           <md-button aria-label="related" class="searchRelatedIcon" ng-show="hover"
              ng-click="search.youTube.getRelatedVideos(video); $event.stopPropagation()" >
            <md-tooltip class="searchRelatedTooltip searchRelatedText" md-direction="left"> 
              <span class="searchRelatedText"> Related </span> </md-tooltip> 
            <md-icon md-font-icon="fa fa-sitemap"></md-icon>
          </md-button>
           <img  class="searchThumbnail"
                 ng-src="{{video.imageUrl}}"
                 ng-class="{ 'searchPlusHoverEffect' : row.plusHover }"> 
         </div>                        
         <!-- Video title & Channel title -->
         <div class="searchItemTitleContainer" ng-bind="video.title"></div>
         <div class="searchItemChannelContainer" 
              ng-click="search.youTube.getChannelVideos(video); $event.stopPropagation()">
              by {{video.channelTitle}}
         </div>   
        </div>     
      </md-grid-tile> 
       <!-- End messages: Two column Tile --> 
      <md-grid-tile md-colspan="2" class="searchItemContainer">
        <div class="searchItems">
          <!-- End of results -->
          <md-button class="md-raised" ng-disabled="true" 
                ng-show="search.youTube.endOfResults && search.youTube.results.length">
                End of Results
          </md-button> 
          <!-- Loading -->
          <md-progress-circular md-mode="indeterminate" class="md-warn" 
              ng-show="search.youTube.nextPageLoading && search.youTube.results.length">
          </md-progress-circular>
          <!-- More -->
          <md-button class="md-raised md-primary"
              ng-click="search.youTube.nextPage()"
              ng-show="!search.youTube.endOfResults && !search.youTube.nextPageLoading &&
                       search.youTube.results.length">
                More.
          </md-button>
        </div>
      </md-grid-tile>
    </md-grid-list> 
    <!-- End Sidebar body -->
  </md-sidenav>
</div>