
<!-- Desktop / Tablet Toolbar -->
<md-toolbar ng-controller="ToolbarCtrl as toolbar" 
  class="md-medium-tall titlebar"
  md-scroll-shrink 
  id="toolbar-header"
  layout="row"
  layout-align="start center"
  hide-sm > 

  <div class="md-toolbar-tools titlebar-wrapper" 
       layout="column"
       layout-align="{{toolbar.layout.alignWithSidenav('search', 'row')}}"  
       layout-fill>
    <span class="titlebar-center">
      <div layout="row" class="titlebar-center-inner" ng-show="!toolbar.layout.sidenavIsOpen('search')">
        <!-- Spacer: Margin -->
        <span flex="5"></span>
        <!-- Spacer for Search Box on load -->
        <span flex="55" ng-show="!toolbar.ready"></span>
        <!-- Search Box  --> 
        <embeditor-searchbox id="toolbar-searchbox" flex="55" ng-show="toolbar.ready"></embeditor-searchbox>
        <!-- Spacer: Margin -->
        <span flex="15"></span>
        <!-- Icon -->
        <span flex="5" layout-align="end end" click="toolbar.reload()">
            <md-button aria-label="embeditor-icon" class="md-warn"> 
                <ng-md-icon icon="brightness_auto" style="fill: white;" size="55"></ng-md-icon>
            </md-button>
        </span>
        <!-- Logo -->
        <span class="titlebar-title" flex="15" hide-sm click="toolbar.reload()">
          <div class="titlebar-cyclopse" > سكلوبس </div>
          <div class="titlebar-beta"><a href="https://www.cyclop.se"> YouTube Loop Editor </a></div> 
        </span>
        <span flex="5"></span>
      </div>
    </span>
  </div>
</md-toolbar>

<!-- Phone Toolbar -->
<md-toolbar ng-controller="ToolbarCtrl as toolbar" 
  md-scroll-shrink 
  id="toolbar-header"
  layout="row" 
  layout-align="start center" hide-gt-sm>
 
  <div class="md-toolbar-tools" layout="row">
    
    <!-- Desktop/Tablet Icon and Title -->
    <span layout="row" layout-align="start center" >
      <md-button aria-label="embeditor-icon" class="md-warn" > 
        <ng-md-icon icon="album" size="56"></ng-md-icon>
      </md-button>
    
      <div class="titlebar-title" ng-show="!toolbar.ready">
          <div class="titlebar-cyclopse"> cyclopse </div>
          <div class="titlebar-beta"> Loop Editor </div>
      </div>
    </span>

    <span flex="5"></span>
    <!-- Search Box --> 
    <div layout="row" layout-align="end" flex-sm="70"
          ng-show="!toolbar.layout.sidenavIsOpen('search') && toolbar.ready">
      <embeditor-searchbox id="toolbar-searchbox" flex></embeditor-searchbox>
    </div>

    <!-- Spacer -->
    <span flex hide-sm></span>

    <!-- Alternate Icon and Title: Sidenav is open -->
    <md-button aria-label="embeditor-icon" class="md-warn" ng-show="toolbar.layout.sidenavIsOpen('search')"> 
      <ng-md-icon icon="album" size="56"></ng-md-icon>
    </md-button>
    
  </div>
</md-toolbar>
