<md-toolbar ng-controller="ToolbarCtrl as toolbar" 
  class="md-medium-tall" 
  md-scroll-shrink 
  layout="row" 
  layout-align="start center">
 
  <div class="md-toolbar-tools"
    layout="row">
    <!-- Icon and Title -->
    <md-button aria-label="embeditor-icon" class="md-warn" > 
      <ng-md-icon icon="album" size="64"></ng-md-icon>
    </md-button>
  
    <div class="titlebar-title">
        <div class="titlebar-cyclopse"> cyclop.se </div>
        <div class="titlebar-beta"> beta </div>
    </div>
    
    <span flex="5"></span>
    <!-- Search Box --> 
    <div layout="row" flex flex-md="50" 
          ng-show="!toolbar.layout.sidenavIsOpen('search') && toolbar.ready">
      <embeditor-searchbox id="toolbar-searchbox" flex>
      </embeditor-searchbox>
    </div>
    <span flex></span>

    <!-- Alternate Icon and Title: Sidenav is open -->
    <md-button aria-label="embeditor-icon" class="md-warn" ng-show="toolbar.layout.sidenavIsOpen('search')"> 
      <ng-md-icon icon="album" size="64"></ng-md-icon>
    </md-button>
    
    <div class="titlebar-title" ng-show="toolbar.layout.sidenavIsOpen('search')">
        <div class="titlebar-cyclopse"> cyclop.se </div>
        <div class="titlebar-beta"> beta </div>
    </div>
  </div>
</md-toolbar>
