
/* Fonts */

/*@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);*/
/* Browser patches */

body {
  background-color: #101010;
}
/* Moz */
@-moz-document url-prefix() {
  [layout-fill] {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: inherit; } 
}
/* ng-md-icon Fix for v 7.0.1 */
ng-md-icon {
  height: inherit;
  width: inherit;
}
/* iOS */
md-content{
  /*overflow-y: scroll !important;*/
}

[layout-fill]{
  width: 100%;
  min-height: inherit;
  margin: 0;
}

/* Placeholder Styles */
::-webkit-input-placeholder {
   color: white !important;
   opacity: .7 !important;
   text-align: center;
   font-size: 15px;
   letter-spacing: 2px;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;
   opacity: .7 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;
   opacity: .7 !important; 
}

md-autocomplete input :-ms-input-placeholder {  
   color: white !important;
   opacity: .7 !important;  
}


.min-height-100 {
  min-height: 100%;
}

/* Loading Cover */
.embedlam-spinner {
  position: absolute;
  top: 49.65%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.embedlam-loader {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.embedlam-loader,
.embedlam-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.appLoadingCover{
  height: 100%;
  width: 100%;
  background-color: rgb(189,189,189);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-cover-icon{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.loading-cover-message{

  position: absolute;
  top: 66%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}


.loading-cover-title{
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#youtube-connect{
  display: block;
}

#youtube-loading{
  display: none;
}

/*-------------------*/

/* app */

.visible{
  visibility: visible !important;
}

/* toolbar */

.titlebar{
  /*background-color: rgb(225, 170, 6) !important;*/
  background-color: #101010 !important;
  height: 88px !important;
  min-height: 88px !important;
  box-shadow: none !important;
}

.titlebar-wrapper{
  padding: 0 !important;
}
.titlebar-center{
  height: 88px;
  background-color: rgba(0,0,0,0.87) !important;
  width: 854px;
}

.titlebar-center-inner{
  height: inherit;
  align-items: center;
}

.titlebarblack{
  background-color: rgba(0,0,0,0.87) !important;
}

.titlebar-title{
  font-size: 30px;
  color: white !important;
  font-weight: 500;
  cursor: default;
}

.titlebar-beta{
  font-size: 11px;
  color: white !important;
  text-align: right;
}

.titlebar-cyclopse{
  direction: rtl;
  font-size: 30px;
}

.titlebar-icon{
  padding: 0px;
}

.searchbox {
  box-shadow: none !important;
  background-color: transparent !important;
  color: white !important;
}

md-autocomplete input {
  font-size: 20px !important;
  color: white !important;
  background-color: transparent !important;
  border-bottom: 2px solid white !important;
}

md-autocomplete button md-icon path{
  fill: white !important;
  color: white !important;
}

.spyglass {
  color: white !important;
  font-size: 21px;
  padding-right: 10px;
}
/* footer */

.footer-powered{
  font-size: 18px;
}

.footer-youtube-icon{
  font-size: 48px;
  margin-left: 15px;
}

.footer-info-text{
  color: white;
  font-size: 14px;
}

.footer-left-margin{
  margin-left: 15px;
}
.footer-right-margin{
  margin-right: 15px;
}

.footer-tumblr-text{
  position: relative;
  top: 7px;
}

.footer-icon{
  opacity: .7;
}

.footer-twitter-msg{
  color: white;
  text-align: center;
}

/* Player & Player Controls */

/* range-slider - amber */

.irs-from {
  background-color: #FFC107;
  font-size: 12px;
}

.irs-to{
  background-color: #FFC107;
  font-size: 12px;
}

.irs-single{
  background-color: #FFC107;
  font-size: 12px;
}

.irs-from:after {
  border-top-color: #FFC107
}

.irs-to:after {
  border-top-color: #FFC107;
}

.irs-single:after{
  border-top-color: #FFC107;
}

/* removes weird div gap */
.player-wrapper-styles{
  font-size: 0px 
}

.start-button{
  font-size: 28px;
  pointer-events: none;
}

.start-icon{
  font-size: 32px;
}

.player-background {
 /*background-color: #424242;*/
  background-color: #101010;
}

.instrument-block-background{
  /*background-color: #424242;*/
  background-color: #101010;
}

#player{
  width: 854px;
  height: 480px;
}

.player-loading-screen {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  width: 854px;
  height: 480px;
  background: black;
  color: white;
}

.player-instruction-screen {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  width: 854px;
  height: 480px;
  background: black;
  opacity: .7;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.player-instruction-title{
  font-size: 50px;
  padding-bottom: 10px;
}

.player-instruction-text{
  margin: 0;
}
.player-instruction-start{
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-text{
  font-size: 22px;
}
.player-instruction-icon{
  font-size: 24px;
}

.player-instruction-icon-desktop{
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
.mobile-player-loading-screen{
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  background: black;
  color: white;
  pointer-events: none;
}

.player-cover{
  position: absolute;
  margin: 0 auto;
  width: 854px;
  height: 480px;
  background: transparent;  
  pointer-events: none;
}

.loading-progress{
  margin: 0 auto;
  width: 854px;
}

.progress-bar-icon{
  position: relative;
  visibility: hidden;
  width: 0px;
  height: 0px;
  top: -1px;
  left: 50px;
  z-index: 50;
}

.progress-bar-time{
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10%;
  font-size: 14px; 
}

.tapehead-animation-wrapper{
  position: relative;
  width: 0px;
  height: 0px;
  /*top: -3px;*/
  left: 0px;
  z-index: 3;
}

.tapehead-animation{
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #FF6F00;
}

md-progress-linear.time-bar{
  height: 14px;
  background-color: rgb(255,193,7) !important;
}
md-progress-linear.time-bar .md-container {
  height: 14px;
  /*top: -3px;*/
  cursor: ne-resize;
  
}

md-progress-linear.time-bar .md-bar {
  height: 15px;
  background-color: rgb(255,193,7) !important;
  /*top: -3px;*/
}

md-progress-linear.timebar .md-dashed{
  /*background: inherit !important;*/
  background-color: rgb(255,193,7) !important;
  -webkit-animation: none !important;
  animiation: none !important;
}

.timestamp-set-tooltip{
  font-size: 12px;
}

.timestamp{
  font-size: 16px;
  background: black;
  color: white;
  padding: 7px;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: default;
  vertical-align: top;
  pointer-events: all;
}

.timestamp-set-icon-left{
  vertical-align: inherit;
  padding-left: 2px;
  margin-right: 3px;
}

.timestamp-set-icon-right{
  vertical-align: inherit;
  margin-left: 3px;
  border-color: white;
}

.timestamp-icon-span{
  vertical-align: baseline;
  margin-top: 2px;
}

.timestamp-center{
  margin-bottom: 4px;
  padding-bottom: 2px;
}

.timestamp-time{
  vertical-align: top;
  background-color: inherit;

  height: 100%;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.timestamp-quickset-text{
  font-size: 11px;
  color: white;
  padding-bottom: 3px;
}

.timestamp-font-size-patch{
  
}

.desktop-quickset-icon{
  position: relative;
  top: 2px;
  left: 7px;
}

.desktop-quickset-btn{
  height: 41px;
  width: 41px;
  background-color: #424242;
}


.desktop-timestamp-btn{
  color: white !important;
  cursor: default;
  min-height: 41px;
  padding-left: 5px;
  padding-right: 5px;
}

.arrow-text-wrapper{
  position:relative;
  height: 0px;
  text-align: center;
}

.quickset-arrow-text{
  color: white;
  position: relative;
  height: 10px;
  font-size: 10px;
  top: -19px;
  pointer-events: none;
  cursor: default;
}

.quickset-on-hover{
  background-color: grey;
}

.quickset-top-row{
  /*background-color: black;*/
  background-color: rgb(22, 20, 22);
  height: 41px;
}
  
.quickset-btn-block-row{
  height: 20px;
  background-color: black !important; 
  position: relative;
  top: 0px;
  opacity: .5;
}

.timestamp-time-text{
  font-size: 14px;
  padding-top: 12px;
  background-color: inherit;
}

.quickset-btn-block-label{
  padding-left: 4px;
  background-color: black !important;
  font-size: 10px !important;
  font-weight: bold;
  color: white !important;
  cursor: default;
  vertical-align: middle;
  opacity: .8;
}

.quickset-btn-block-help{

  color: white !important;
  font-weight: bold;
  cursor: default;
  font-size: 10px !important;
  padding-right: 4px;
  vertical-align: middle;
  opacity: .8;

}

.timebar-touch-shield{
  height: 20px;
  background-color: transparent;
  padding-bottom: 40px;
  pointer-events: all;
}

/*---------- MAIN COLUMN ----------*/

.main-column{
  padding-left: 10px;
}

.controls-block{
  width: 854px;
  position: relative;
  padding-left: 10px;
}



.controls-loading-cover{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 109%;
  background: black;
  top: -34px;
  left: 0px;
  opacity: .3;
  z-index: 21;

}

.desktop-quickset-block{
  height: 22px;

}

.timebar-instructions-row{
  width: 854px;
  min-height: 15px;
  position: relative;
  padding-top: 5px;
  padding-left: 10px;
}

/* Insane firefox layout issue fix 
   for rel btw timebar and timebar-instructions */
   
@-moz-document url-prefix() {

  .timebar-instructions-row{
    margin-top: 10px;
    z-index: 1;
  }
  .tapehead-animation{
    height: 8px;
  }
}


.play-btn-span{
  padding-bottom: 15px;
}

.warning-text{
  visibility: hidden;
  font-size: 12px;
  color: red;
}

.rangefinder-span{
  padding-bottom: 10px;
}
.reset-text{
  text-align: center;
  cursor: default;
}

.reset-button{
  padding-top: 15px;
  padding-left: 5px;
}

.precision-btn-row{
  padding-top: 10px;
  padding-bottom: 2px;
}

.precision-btn-outer{
  height: 52px;
  width: 52px;
  background-color: #E0E0E0 !important;
  
}

.precision-btn-middle{
  min-height: 52px;
  min-width: 52px;
  background-color: #EEEEEE !important;
 
}

.precision-btn-inner{
  min-height: 52px;
  min-width: 52px;
}

.controls-background{
  background-color: #EEEEEE;
}

.controls-time-inputs{
  width: 100px;
}

.controls-top{
  padding-top: 15px;
  padding-bottom: 10px;
}

.control-btn-txt-ctr{

  position: relative;
  font-size: 10px;
  top: -15px;
  pointer-events: none;
  cursor: default;

}

.control-btn-txt-left{
  position: relative;
  font-size: 10px;
  top: -15px;
  left: -15px;
  pointer-events: none;
  cursor: default;
}

.control-btn-txt-right{
  position: relative;
  font-size: 10px;
  top: -15px;
  right: -15px;
  pointer-events: none;
  cursor: default;
}

.startpoint-txt{
  color: white;
}

.startpoint-btn{
  background: black !important;
  color: white !important;
  cursor: default;
  min-height: 52px;
  padding-left: 10px;
  padding-right: 10px;
}

.time-disp-play-icon{
  z-index: 1;
  position: relative;
  height: 0px;
  width: 0px;
  font-size: 14px;
  top: 4px;
  margin-right: 11px;
  color: white !important;
  cursor: default;
  pointer-events: none;
}

.time-disp-play-icon-hover{
  font-size: 16px;
}

.time-disp-time{
  position: relative;
  top: 1px;
  cursor: default;
}

.set-btn-block-label{
  color: rgba(0,0,0,0.26) !important;
  cursor: default;
}

.set-btn-block-help{
  color: rgba(0,0,0,0.26) !important;
  cursor: default;
  font-size: 12px !important;
  padding-left: 15px;
  white-space: nowrap;
}

.playback-input-container{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  height: 76px;
  overflow-y: hidden;
}

.rate-slider-container{
  width:  100%;
  padding-bottom: 0px;
  padding-left: 7px;
  padding-right: 7px;
  height: 76px;
  margin-top: 20px;
  
}

.rate-slider{
  margin-top: 20px;
  padding-left: 4px;
  padding-right: 4px;

}

.rate-slider-label-row{
  position: relative;
  top: -4px;
}

.close-label{
  -webkit-transform: none !important;
  transform: none !important;
  cursor: default;
}

.center-label{
  text-align: center;
}

.code-button-row{
  margin-top: 12px;
}

.code-text{
  font-size: 12px !important;
  color: white !important;
}

.code-text-preview{
  font-size: 12px !important;
  color: black !important;
}

.code-text-fa{
  font-size: 12px !important;
  color: white !important;
  padding-top: 3px;
}
.code-btn {
  background-color: rgba(0,0,0,0.12);
}

.code-btn-with-spinner{
  max-height: 56px;
  min-width: 56px;

  background-color: #FFD54F;
  text-transform: none;
}

.preview-btn{
  max-height: 56px;
  min-width: 56px;
  text-transform: none;
  background-color: white !important;
}

.code-icon{
  font-size: 28px;
}

/* Sidebar */
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 450px;  
} 

.button-lg{
  padding: 8px;
}

md-select.md-default-theme .md-select-label.md-placeholder { color: white; }
.twelve-point-bold{
  color: white !important;
  font-size: 12px;
  font-weight: bold;
}

.ten-point-bold{
   font-size: 10px;
   font-weight: bold;
}

.sidebar-background{
  background-color: #E0E0E0;
}

.searchPlayIcon{
   position:absolute;
   opacity: .8;
   top: 30px;
   right: 80px;
   color: white;
   cursor: default;
}

.searchPlayIcon:hover{
  opacity: 1;
}

.searchRelatedIcon{
  position:absolute;
  top: 0px;
  right: 0px;
  background-color: white !important;
}

.searchRelatedTooltip{
  background-color: black !important;
}

.searchRelatedText{
  font-size: 11px;
  color: white;
  font-weight: bold;
}
.searchItems{
 display: inline-block;
}
.searchItemContainer {
  vertical-align: top;
}

.searchThumbnail {
  width: 196px;
  height: 110px;
}

.searchItemTitleContainer {
  padding: 2px; 
  width: 150px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  cursor: default;
  
}

.searchItemTitleContainer:hover {
}

.searchItemChannelContainer {
  padding: 2px;
  width: 150px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  cursor: default;
}

.searchItemChannelContainer:hover {
  text-decoration: underline;
}

.searchItemDuration{
  position: absolute;
  padding: 1px;
  font-size: 11px;
  font-weight: bold;
  top: 93px;
  right: 0px;
  color: white;
  background-color: black;
  
}

.searchItemPublishedAt{
  position: absolute;
  font-size: 10px;
  padding: 2px; 
  font-weight: bold;
  top: 0px;
  left: 0px;
  color: white;
  background-color: black;
  
}

.mobile-search-item{
  position: relative;
}

/* embed code window */

.embed-instructions{
  color: white;
  font-size: 14px;
  cursor: default;
}

.embed-code-spinner{
  margin: 0 auto;
  margin-top: 20px;
}

.embed-select-option-numbers{
  font-size: 10px !important;
}

.embed-framesize-select{
  margin-left: 15px;
  padding-bottom: 32px;
}

.embed-thin-bar{
  min-height: 50px;
}
.embed-title{
  font-size: 24px;
}

.embed-radio-btn-row{
  background-color: palegoldenrod;
}

.embed-help-link{
  color:white;
  text-decoration: underline !important;
}

.embed-radio-text{
  color: rgba(0,0,0,0.54);
  margin-top: 18px;
}

.embed-radio-group{
  border: none !important;
}
.embed-radio-btn{
  display: inline-block;
}

.embed-framesize-input{
  display: inline-block;
  width: 120px;
}

.embed-input-label{
  font-size: 12px;
}

.embed-code-text{
  font-size: 14px;
  color: rgba(0,0,0,0.26);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  overflow-x: hidden;
  
}

md-progress-circular.embed-btn-spinner{
  -webkit-transform: scale(.5) !important;
  transform: scale(.5) !important;
  margin: 0 auto;
}

.embed-code-highlight{
  background: #FFFDE7;
}

.embed-dialog-content{
  height: 100px;
}

.embed-permalink-content{
  height: 75px;
}

.embed-preview-content{
  background-color: black;
  height: 500px;
}

.embed-preview-dialog{
  background-color: black;
}

.share-dialog-content{
  background-color: #E0E0E0;
  height: 100px;
}

.permalink-code-text{
  font-size: 14px;
  color: rgba(0,0,0,0.26);
  padding-top: 25px !important;
  padding-bottom: 5px !important;
  overflow-x: hidden;
  text-align: center;
}

.about-title{
  font-size: 24px;
  padding-left: 15px;
}

.about-content{
  height: 400px;
  background-color: cornflowerblue;
}
.about-text{
  font-size: 18px;
  color: white;
  background-color: dodgerblue !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  overflow-x: hidden;
  text-align: center;
}

.about-link{
  color: white;
  text-decoration: underline;
}

.about-platform{
  font-weight: bold;
}

.embed-copy-btn-row{
  padding: 24px;
}

.tweet-help{
  font-size: 11px;
}

/* ---------- Dialogs --------------- */

.tumblr-button{
  background-color: #36465d !important;
}

.tumblr-button:hover{
  background-color: #FF6F00 !important;
}

.facebook-button{
  background-color: #4e69a2 !important;
}

.facebook-button:hover{
  background-color: #FF6F00 !important;
}

.twitter-button{
  background-color: #55acee !important;
}

.twitter-button:hover{
  background-color: #FF6F00 !important;
}

.share-icon{
  color: white;
}

.share-instructions{
  font-size: 14px;
  cursor: default;
  opacity: .5;
}

