
@-moz-document url-prefix() {
  [layout-fill] {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: inherit; } }

/* toolbar */
.youtube-icon{
  font-size: 56px;

}

/* player & player controls */
.player-background {
  background-color: #424242;
}

.player-loading-screen {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  width: 854px;
  height: 480px;
  background: black;
  color: white;
}

.player-loading-spinner{

}

.visible{
  visibility: visible;
}
.controls-background{
  background-color: #EEEEEE;
}

.controls-time-inputs{
  width: 100px;
}

.controls-top{
  padding-top: 10px;
}

.control-btn-txt-ctr{
  position: relative;
  font-size: 10px;
  top: -15px;
}

.control-btn-txt-left{
  position: relative;
  font-size: 10px;
  top: -15px;
  left: -15px;
}

.control-btn-txt-right{
  position: relative;
  font-size: 10px;
  top: -15px;
  right: -15px;
}


/* Sidebar */
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 450px !important;
    //width: 85vw !important;
    //max-width: 500px !important;
    
} 
.button-lg{
  padding: 8px;
}
.twelve-point-bold{
   font-size: 12px;
   font-weight: bold;
}

.ten-point-bold{
   font-size: 10px;
   font-weight: bold;
}

.sidebar-background{
  //background-color: #f7f7f7;
  background-color: #E0E0E0;
}
.searchPlayIcon{
   position:absolute;
   opacity: .8;
   top: 35px;
   right: 90px;
   color: white;
}
.searchRelatedIcon{
  position:absolute;
  //opacity: .8;
  top: 0px;
  right: 0px;
  background-color: white !important;
}

.searchRelatedTooltip{
  background-color: black !important;
}

.searchRelatedText{
  font-size: 11px;
  color: white;
  font-weight: bold;
}
.searchItems{
 display: inline-block;
}
.searchItemContainer {

  vertical-align: top;
}

.searchThumbnail {
  width: 196px;
  height: 110px;
}

.searchItemTitleContainer {
  padding: 2px 2px 2px 2px;
  width: 150px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  cursor: default;
  
}

.searchItemTitleContainer:hover {
}

.searchItemChannelContainer {
  padding: 2px 2px 2px 2px;
  width: 150px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: italic;
  cursor: default;
}

.searchItemChannelContainer:hover {
  text-decoration: underline;
}

.searchItemDuration{
  position: absolute;
  padding: 1px;
  font-size: 11px;
  font-weight: bold;
  top: 102px;
  right: 10px;
  color: white;
  background-color: black;
  
}

.searchItemPublishedAt{
  position: absolute;
  font-size: 10px;
  padding: 2px; 
  font-weight: bold;
  top: 7px;
  left: 11px;
  color: white;
  background-color: black;
  
}