
@-moz-document url-prefix() {
  [layout-fill] {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: inherit; } }


/*-------------------*/

/* toolbar */
.youtube-icon{
  font-size: 48px;
  margin-left: 15px;

}

.titlebar-title{
  display: inline-block;
}

.titlebar-beta{
  font-size: 11px;
  color: white !important;
  text-align: right;
}

.titlebar-cyclopse{
  font-size: 30px;
}

.titlebar-powered{
  font-size: 18px;
}

/* embed code window */
.embed-instructions{
  font-size: 14px;
  cursor: default;
}

.embed-code-spinner{
  margin: 0 auto;
  margin-top: 20px;
}

.embed-select-option-numbers{
  font-size: 10px !important;
}

.embed-framesize-select{
  margin-top: 11px;
}

.embed-title{
  font-size: 24px;
}

.embed-help-link{
  color:white;
}

.embed-help-link:hover{
  text-decoration: underline;
}

.embed-radio-group{
  border: none !important;
}
.embed-radio-btn{
  display: inline-block;
}

.embed-code-text{
  font-size: 14px;
  color: rgba(0,0,0,0.26);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  overflow-x: hidden;

}

.embed-code-highlight{
  background: #FFFDE7;
}

.embed-dialog-content{
  height: 100px;
}

.embed-copy-btn-row{
  padding: 24px;
}


/* player & player controls */

/* removes weird div gap */
.player-wrapper{
  font-size: 0px 
}

.player-background {
  background-color: #424242;
}

.player-loading-screen {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  width: 854px;
  height: 480px;
  background: black;
  color: white;
}

.player-cover{
  position: absolute;
  margin: 0 auto;
  width: 854px;
  height: 480px;
  background: transparent;  
}

.loading-progress{
  margin: 0 auto;
  width: 854px;
}

.progress-bar-icon{
  position: relative;
  visibility: hidden;
  width: 0px;
  height: 0px;
  top: -8px;
  left: 50px;
  z-index: 50;
}

.progress-bar-time{
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10%;
  font-size: 14px; 
}

md-progress-linear .md-container{
  height: 15px;
  top: -3px;
  cursor: ne-resize;
}

md-progress-linear .md-dashed:before{
  background: inherit !important;
  background-color: #999 !important;
  -webkit-animation: none !important;
  animiation: none !important;
}

.timestamp{
  font-size: 16px;
  background: black;
  color: white;
  padding: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: default;
  vertical-align: top;
}

.timestamp-set-icon{
  vertical-align: inherit;
  padding-left: 2px;
}

.visible{
  visibility: visible !important;
}

.warning-text{
  visibility: hidden;
  font-size: 12px;
  color: red;
}

.reset-text{
  text-align: center;
}

.precision-btn-row{
  padding-top: 10px;
  padding-bottom: 2px;
}
.controls-background{
  background-color: #EEEEEE;
}

.controls-time-inputs{
  width: 100px;
}

.controls-top{
  padding-top: 15px;
  padding-bottom: 10px;
}

.control-btn-txt-ctr{

  position: relative;
  font-size: 10px;
  top: -15px;
}

.control-btn-txt-left{
  position: relative;
  font-size: 10px;
  top: -15px;
  left: -15px;
}

.control-btn-txt-right{
  position: relative;
  font-size: 10px;
  top: -15px;
  right: -15px;
}

.startpoint-txt{
  color: white;
}

.startpoint-btn{
  background: black !important;
  color: white !important;
  height: 50px;
  cursor: default;
}

.set-btn-block-label{
  color: rgba(0,0,0,0.26) !important;
}

.playback-input-container{
  padding-top: 26px;
  padding-left: 10px;
  padding-right: 10px;
}

.close-label{
  -webkit-transform: none !important;
  transform: none !important;
}

.center-label{
  text-align: center;
}

.playback-slider{
  height: 10px;
}

.code-text{

}

.code-btn{
  /*height: 10px;*/
  background-color: rgba(0,0,0,0.12);
}

.code-icon{

}

/* Sidebar */
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 450px !important;  
} 
.button-lg{
  padding: 8px;
}
.twelve-point-bold{
   font-size: 12px;
   font-weight: bold;
}

.ten-point-bold{
   font-size: 10px;
   font-weight: bold;
}

.sidebar-background{
  background-color: #E0E0E0;
}
.searchPlayIcon{
   position:absolute;
   opacity: .8;
   top: 35px;
   right: 90px;
   color: white;
}
.searchRelatedIcon{
  position:absolute;
  /*opacity: .8;*/
  top: 0px;
  right: 0px;
  background-color: white !important;
}

.searchRelatedTooltip{
  background-color: black !important;
}

.searchRelatedText{
  font-size: 11px;
  color: white;
  font-weight: bold;
}
.searchItems{
 display: inline-block;
}
.searchItemContainer {

  vertical-align: top;
}

.searchThumbnail {
  width: 196px;
  height: 110px;
}

.searchItemTitleContainer {
  padding: 2px 2px 2px 2px;
  width: 150px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  cursor: default;
  
}

.searchItemTitleContainer:hover {
}

.searchItemChannelContainer {
  padding: 2px 2px 2px 2px;
  width: 150px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: italic;
  cursor: default;
}

.searchItemChannelContainer:hover {
  text-decoration: underline;
}

.searchItemDuration{
  position: absolute;
  padding: 1px;
  font-size: 11px;
  font-weight: bold;
  top: 102px;
  right: 10px;
  color: white;
  background-color: black;
  
}

.searchItemPublishedAt{
  position: absolute;
  font-size: 10px;
  padding: 2px; 
  font-weight: bold;
  top: 7px;
  left: 11px;
  color: white;
  background-color: black;
  
}