/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

      /* -------- General ----------------*/

      input, button, textarea, select {
          -webkit-transform: translate3d(0,0,0);
      }

      .appLoadingCover{
        visibility: visible;
      }
      /* --------- Toolbar -------------*/

      .titlebar-title{
        font-size: 26px;
      }

      .titlebar-beta{
        font-size: 11px;
        color: white !important;
        text-align: right;
      }

      .titlebar-cyclopse{
        font-size: 26px;
      }

      .titlebar-icon{
        padding: 0px;
      }

      .md-toolbar-tools{
        padding-right: 5px;
        padding-left: 5px;
      }
      
      /* -------- Player ---------------*/
      #player{ 
        width: 100%;
        height: 200px;
      }

      .mobile-player-loading-screen{
        width: 100%;
        /*height: 24.5%;*/
        height: 200px;
      }

      .player-instruction-screen {

        visibility: visible;
        width: 100%;
        
        /*height: 25.5%;*/
        height: 200px;


        background: black;
        opacity: .7;
        color: white;
        font-size: 14px;
      }

      .player-instruction-title{
        font-size: 28px;
        padding-bottom: 5px;
      }

      .player-instruction-line{
        width: 100%;
        text-align: center;
      }

      .player-instruction-start{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 70%;
      }
      .player-wrapper-styles{
        height: 100%;
        width: 100%;
      }

      .player-background{
        background-color: black;
      }

      .player-cover{
        width: 100%;
        /*height: 25.5%;*/
        height: 200px;
      }

      .loading-progress{
        width: 100%;
      }

  
      .timestamp-btn{
        background: #E0E0E0 !important;
        color: black;
        cursor: default;
        min-height: 54px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .time-disp-timestamp{

        position: relative;
        top: -1px;
        cursor: default;

      }

      .quickset-arrow-text{
        color: white;
        position: relative;
        height: 10px;
        font-size: 10px;
        top: -15px;
        pointer-events: none;
        cursor: default;
      }

      .phone-quickset-txt{
        padding-top: 2px;
        font-size: 9px;
        color: white;
        opacity: .8;
        text-align: center;
      }

      md-progress-linear.time-bar .md-container {
        height: 8px;
      }

      md-progress-linear.time-bar{
          display: block;
          width: 100%;
          height: 12px;
      } 

      md-progress-linear.time-bar .md-bar {
        height: 12px;
      }

      .tapehead-animation{
        position: absolute;
        width: 14px;
        height: 12px;
        background-color: #FF6F00;
      }

      /* --------- Controls Column -------- */

      .main-column{
        padding-left: 0px;
      }

      
      .endpoint-column{
        padding-top: 15px;
      }

      .timebar-instructions{
        color: rgba(0,0,0,0.26) !important;
        cursor: default;
        font-size: 11px !important;
        padding-left: 15px;
        width: 100%;
      }

      .controls-block{
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
      }

      .controls-top{
        width: 100%;
        padding-top: 15px;
      }

      .controls-loading-cover{
        position: absolute;
        margin: 0 auto;
        width: 110%;
        height: 110%;
        background: black;
        top: -32px;
        left: -20px;
        opacity: .3;
        z-index: 2;

      }

      .mobile-timebar{
        padding-top: 5px;
      }

      .lower-row{
        padding-top: 20px;
      }

      .phone-slider-reset-btn{
        padding-top: 15px;
        padding-left: 20px;
      }

      .set-btn-block-help{
        font-size: 11px !important;
      }

      .playback-input-container{

        padding: 0px;
        padding-bottom: 5px;
        height: 61px;
        overflow-y: hidden;
      }

      .mobile-loop-input-container{
        padding-top: 0px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        height: 56px;
        overflow-y: hidden;
      }

      .mobile-md-switch{
        margin-left: 0px;
      }

      .mobile-play-icon{
        padding-left: 10px;
      }

      .mobile-play-button{
        z-index: 1 !important;
      }
  
      .play-btn-span {
        padding-bottom: 25px;
      }

      .center-label{
        text-align: left;
      }
      

      .irs-with-grid{
        ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1);
      }

      .phone-slider-col{
        padding-left: 10px;
      }

      .reset-button{
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .code-button-row{
        margin-top: 0px;
      }

      /* --------- Search Sidebar ----------- */
      md-sidenav, 
      md-sidenav.md-locked-open, 
      md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 240px !important;  
        max-width: 240px !important;
      } 

      .search-toolbar-phone{

      }

      .twelve-point-bold{
        font-size: 10px;
      }

      .sidebar-scroll{
        overflow-y: scroll;
        -webkit-overflow-scrolling: auto !important; 
      }

      .sidebar-background{
        background-color: #E0E0E0;
      }

      .phone-msg-padding{
        padding-top: 100px;
      }

      .searchItemDuration{
        position: absolute;
        padding: 1px;
        font-size: 11px;
        font-weight: bold;
        top: 75px;
        right: 0px;
        color: white;
        background-color: black;
        
      }

      .searchThumbnail{
        width: 150px;
        height: 90px;
      }

      .searchPlayIcon{
         position:absolute;
         opacity: .8;
         top: 22px;
         right: 57px;
         color: white;
      }

      .searchRelatedIcon {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 0px;
        right: 0px;
        background-color: white !important;
      }

      .sitemap-icon{
        height: 16px;
        width: 16px;
        vertical-align: initial;
      }

      .searchItemChannelContainer {
        padding: 2px 2px 2px 2px;
        width: 150px;
        height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        cursor: default;
        text-decoration: underline;
      }

      .mobile-search-item{
        position: relative;
      }

      .mobile-search-select-tile{
        padding-right: 25px;
      }

      /* Dialog Windows */

      .embed-preview-content{
        background-color: black;
        height: 250px;
      }

      .embed-preview-dialog{
        background-color: black;
        max-width: 95%;
      }

      .embed-title{
        font-size: 16px;
      }
      .embed-instructions{
        padding-left: 10px;
        font-size: 12px;
        cursor: default;
      }

      .embed-permalink-content{
        height: 105px;
      }

      .embed-tweet-intent{
        height: 105px;
        background-color: #55acee;

      }

      .embed-code-text{
        font-size: 12px;
      }
      .permalink-code-text{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        font-size: 12px;
      }
      .share-instructions{
        font-size: 12px;
      }
}

/* IPHONE 6 - LANDSCAPE */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  body{
    background-color: black;
  }

  #player{ 
    width: 100%;
    height: 325px;
  }

  .appLoadingCover{
    visibility: visible;
  }

  .loading-cover-title{
    display: none;
  }

  #toolbar-header{
    /*display: none !important;*/
  }

  #quickset-phone-row{
    display: block !important;
  }

  #app-column{
    display: none !important;
  }

  .footer-toolbar{
    display: none;
  }
  
  .mobile-player-loading-screen {
    width: 100%;
    /*height: 87.5%;*/
    height: 325px;

  } 

  /* Quickset & Timestamps */
  .desktop-quickset-btn{
    height: 56px;
    width: 56px;
    background-color: #424242;
  }
  .quickset-top-row{
    /*background-color: black;*/
    background-color: rgb(22, 20, 22);
    height: 56px;
  }

  .desktop-quickset-icon {
    top: 4px;
    left: 10px;
  }

  .quickset-arrow-text{
    color: white;
    position: relative;
    height: 10px;
    font-size: 12px;
    top: -18px;
    pointer-events: none;
    cursor: default;
  }

  .timestamp-time-text {
    font-size: 20px;
  }

  .timestamp-label{
    font-size: 10px;
    opacity: .7;
    text-align: center;
  }

  .phone-quickset-txt{
    padding-top: 10px;
    font-size: 14px;
    color: white;
    opacity: .5;
    text-align: center;
  }

  .timestamp-btn{
    background: #E0E0E0 !important;
    color: black;
    cursor: default;
    min-height: 54px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .time-disp-timestamp{

    position: relative;
    top: -1px;
    cursor: default;

  }
  
  /*.phone-quickset-txt{
    padding-top: 5px;
    font-size: 12px;
  }*/

  .player-cover{
  }

  .endpoint-column {
    padding-top: 0px;
  }

  
}

/* Landscape IPhone 6S*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  body{
    background-color: black;
  }

  .appLoadingCover{
    visibility: visible;
  }

  .loading-cover-title{
    display: none;
  }

  #toolbar-header{
    /*display: none !important;*/
  }

  #quickset-phone-row{
    display: block !important;
  }

  #app-column{
    display: none !important;
  }

  .footer-toolbar{
    display: none;
  }

  #player{ 
    width: 100%;
    height: 365px;
  }

  .mobile-player-loading-screen{
    width: 100%;
    /*height: 85.5%;*/
    height: 365px;
  }

  .player-instruction-screen {

    visibility: visible;
    width: 100%;
    /*height: 85.5%;*/
    height: 365px;
    background: black;
    opacity: .7;
    color: white;
    font-size: 16px;
  }

  .player-wrapper-styles{
    height: 100%;
    width: 100%;
  }

  .player-background{
    background-color: black;
  }

  .player-cover{
    width: 100%;
  }

  .loading-progress{
    width: 100%;
  }

  .mobile-play-icon {
    padding-left: 10px;
  }
  /* Quickset & Timestamps */
  .desktop-quickset-btn{
    height: 56px;
    width: 56px;
    background-color: #424242;
  }
  .quickset-top-row{
    /*background-color: black;*/
    background-color: rgb(22, 20, 22);
    height: 56px;
  }

  .desktop-quickset-icon {
    top: 4px;
    left: 10px;
  }

  .quickset-arrow-text{
    color: white;
    position: relative;
    height: 10px;
    font-size: 12px;
    top: -18px;
    pointer-events: none;
    cursor: default;
  }

  .timestamp-time-text {
    font-size: 20px;
  }

  .timestamp-label{
    font-size: 10px;
    opacity: .7;
    text-align: center;
  }

  .phone-quickset-txt{
    padding-top: 10px;
    font-size: 14px;
    color: white;
    opacity: .5;
    text-align: center;
  }

  .timestamp-btn{
    background: #E0E0E0 !important;
    color: black;
    cursor: default;
    min-height: 54px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .time-disp-timestamp{

    position: relative;
    top: -1px;
    cursor: default;

  }

  md-progress-linear.time-bar{
      display: block;
      width: 100%;
      height: 12px;
  } 

  md-progress-linear.time-bar .md-bar {
    height: 12px;
  }

  .tapehead-animation{
    position: absolute;
    width: 14px;
    height: 12px;
    background-color: #FF6F00;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 374px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /* -------- General ----------------*/

      input, button, textarea, select {
          -webkit-transform: translate3d(0,0,0);
      }

      .appLoadingCover{
        visibility: visible;
      }
      /* --------- Toolbar -------------*/

      .titlebar-title{
        font-size: 26px;
      }

      .titlebar-beta{
        font-size: 11px;
        color: white !important;
        text-align: right;
      }

      .titlebar-cyclopse{
        font-size: 26px;
      }

      .titlebar-icon{
        padding: 0px;
      }

      .md-toolbar-tools{
        padding-right: 5px;
        padding-left: 5px;
      }
      
      /* -------- Player ---------------*/
      #player{ 
        width: 100%;
        height: 200px;
      }

      .mobile-player-loading-screen{
        width: 100%;
        /*height: 25%;*/
        height: 200px;
      }

      .player-instruction-screen {

        visibility: visible;
        width: 100%;
        /*height: 25.5%;*/
        height: 200px;


        background: black;
        opacity: .7;
        color: white;
        font-size: 14px;
      }

       .player-instruction-title{
        font-size: 28px;
        padding-bottom: 0px;
      }

      .player-instruction-line{
        width: 100%;
        text-align: center;
      }

      .player-instruction-start{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 70%;
      }

      .player-wrapper-styles{
        height: 100%;
        width: 100%;
      }

      .player-background{
        background-color: black;
      }

      .player-cover{
        width: 100%;
        height: 25.5%;
      }

      .loading-progress{
        width: 100%;
      }

  
      .timestamp-btn{
        background: #E0E0E0 !important;
        color: black;
        cursor: default;
        min-height: 54px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .time-disp-timestamp{

        position: relative;
        top: -1px;
        cursor: default;

      }

      .phone-quickset-txt{
        font-size: 8px;
        color: white;
        opacity: .8;
        text-align: center;
        padding-top: 5px;
      }

      .quickset-arrow-text{
        color: white;
        position: relative;
        height: 10px;
        font-size: 10px;
        top: -15px;
        pointer-events: none;
        cursor: default;
      }

      md-progress-linear.time-bar .md-container {
        height: 8px;
      }

      md-progress-linear.time-bar{
          display: block;
          width: 100%;
          height: 12px;
      } 

      md-progress-linear.time-bar .md-bar {
        height: 12px;
      }

      .tapehead-animation{
        position: absolute;
        width: 14px;
        height: 12px;
        background-color: #FF6F00;
      }

      /* --------- Controls Column -------- */

      .main-column{
        padding-left: 0px;
      }

      .timebar-instructions{
        color: rgba(0,0,0,0.26) !important;
        cursor: default;
        font-size: 11px !important;
        padding-left: 15px;
        width: 100%;
      }

      .reset-column{
        padding-left: 15px;
      }

      .endpoint-column{
        padding-top: 15px;
      }

      .controls-block{
        width:100%;
        padding-left: 8px;
        padding-right: 16px;
      }

      .controls-top{
        width: 100%;
        padding-top: 15px;
      }

      .controls-loading-cover{
        position: absolute;
        margin: 0 auto;
        width: 110%;
        height: 110%;
        background: black;
        top: -32px;
        left: -20px;
        opacity: .3;
        z-index: 2;

      }

      .mobile-timebar{
        padding-top: 5px;
      }

      .precision-btn-outer{
        height: 48px;
        width: 48px;
        background-color: #E0E0E0 !important;
        
      }

      .precision-btn-inner{
        min-height: 48px;
        min-width: 48px;
      }

      .startpoint-btn{
        background: black !important;
        color: white !important;
        cursor: default;
        min-height: 48px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .set-btn-block-label{
        color: rgba(0,0,0,0.26) !important;
        cursor: default;
        font-size: 14px;
      }

      .set-btn-block-help{
        color: rgba(0,0,0,0.26) !important;
        cursor: default;
        font-size: 11px !important;
        padding-left: 15px;
      }

      .lower-row{
        padding-top: 20px;
      }

      .reset-button{
        padding-top: 15px;
        padding-left: 10px;
      }

      .playback-input-container{

        padding: 0px;
        padding-bottom: 5px;
        height: 61px;
        overflow-y: hidden;
      }

      .mobile-loop-input-container{
        padding-top: 0px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        height: 56px;
        overflow-y: hidden;
      }

      .mobile-md-switch{
        margin-left: 0px;
      }

      .close-label {
        -webkit-transform: none !important;
        transform: none !important;
        cursor: default;
        font-size: 12px;
      }

      .mobile-play-icon{
        padding-left: 10px;
        /*margin-top: 3px;
        margin-left: 2px;*/
      }

      .mobile-play-button{
        z-index: 1 !important;
      }
  
      .play-btn-span {
        padding-bottom: 25px;
      }

      .center-label{
        text-align: left;
      }
      

      .irs-with-grid{
        ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1);
      }

      .phone-slider-col{
        padding-left: 10px;
      }
      
      .phone-slider-reset-btn{
        padding-top: 15px;
        padding-left: 20px;
      }

      .code-button-row{
        margin-top: 0px;
      }

      /* --------- Search Sidebar ----------- */
      md-sidenav, 
      md-sidenav.md-locked-open, 
      md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 240px !important;  
        max-width: 240px !important;
      } 

      .search-toolbar-phone{

      }

      .twelve-point-bold{
        font-size: 10px;
      }

      .sidebar-scroll{
        overflow-y: scroll;
        -webkit-overflow-scrolling: auto !important; 
      }

      .sidebar-background{
        background-color: #E0E0E0;
      }

      .phone-msg-padding{
        padding-top: 100px;
      }

      .searchItemDuration{
        position: absolute;
        padding: 1px;
        font-size: 11px;
        font-weight: bold;
        top: 75px;
        right: 0px;
        color: white;
        background-color: black;
        
      }

      .searchThumbnail{
        width: 150px;
        height: 90px;
      }

      .searchPlayIcon{
         position:absolute;
         opacity: .8;
         top: 22px;
         right: 57px;
         color: white;
      }

      .searchRelatedIcon {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 0px;
        right: 0px;
        background-color: white !important;
      }

      .sitemap-icon{
        height: 16px;
        width: 16px;
        vertical-align: initial;
      }

      .searchItemChannelContainer {
        padding: 2px 2px 2px 2px;
        width: 150px;
        height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        cursor: default;
        text-decoration: underline;
      }

      .mobile-search-item{
        position: relative;
      }

      .mobile-search-select-tile{
        padding-right: 25px;
      }

      /* Dialog Windows */

      .embed-preview-content{
        background-color: black;
        height: 250px;
      }

      .embed-preview-dialog{
        background-color: black;
        max-width: 95%;
      }
      
      .embed-title{
        font-size: 16px;
      }
      .embed-instructions{
        padding-left: 10px;
        font-size: 12px;
        cursor: default;
      }

      .embed-permalink-content{
        height: 105px;
      }

      .embed-tweet-intent{
        height: 105px;
        background-color: #55acee !important;
      }

      .embed-code-text{
        font-size: 12px;
      }

      .permalink-code-text{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        font-size: 12px;
      }
      .share-instructions{
        font-size: 12px;
      }

}

/* IPHONE 5 - LANDSCAPE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  #toolbar-header{
    /*display: none !important;*/
  }

  .appLoadingCover{
    visibility: visible;
  }

  .loading-cover-title{
    display: none;
  }

  #app-column{
    display: none !important;
  }

  #quickset-phone-row{
    display: block !important;
  }

  .mobile-play-icon {
    padding-left: 3px;
  }

  .phone-quickset-txt {
    font-size: 10px;
  }

  .footer-toolbar{
    display: none !important;
  }
  
  .mobile-player-loading-screen {
    width: 100%;
    height: 83.5%;

  } 

  .player-instruction-screen {

    visibility: visible;
    width: 100%;
    height: 85.5%;
    background: black;
    opacity: .7;
    color: white;
    font-size: 16px;
  }

  .player-cover{
  }

  #player{ 
    width: 100%;
    height: 325px;
  }

  .endpoint-column {
    padding-top: 0px;
  }
}

