<div class="appLoadingCover" ng-class="{'visible': false }"> <!-- ng-class="{'visible': app.loading}" -->
</div>

<!-- "{'visible': !app.loading}" click="null" -->
<md-content class="app content-block" app-click ng-class="{'visible': true}" 
   layout="column" layout-fill> 
  <div ng-include src="'templates/toolbar.html'" layout="column"></div>
  <embeditor-section-sidebar></embeditor-section-sidebar>
  <embeditor-section-app></embeditor-section-app>
  <div ng-include src="'templates/footer.html'"></div>
</md-content>
